<html>
    <head>
        <title>{{.ConfigFile.Name}}</title>
        <meta http-equiv="refresh" content="1">
        <meta name="viewport" content="width=device-width, initial-scale=0.4">
        <link rel="stylesheet" href="bootstrap.min.css">
        <style>
            * {
                font-family: monospace !important;
                font-size:10pt !important;
            }
            td{
                padding:2px !important;
                vertical-align:middle;
            }
            .table-border-show td{
                border:1px black solid;
            }
            .nav-link{
                transition:none;
            }
            .badge{
                padding:2px !important;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/">{{ .ConfigFile.Name }} ({{.AutomationsLen}} Automations)</a>
                {{.LocalTime}}
                {{ if .MqttClientIsConnectionOpen  }} <span class="badge bg-success">Mqtt connected</span> {{else}} <span class="badge bg-error">Mqtt not connected</span> {{ end }}
                {{ if .ConfigFile.Muted  }} <span class="badge bg-warning">System Muted</span> {{ end }}
                <span class="badge bg-success"> {{ .MemMib  }} MiB</span>
            </div>
        </nav>

        <div class="container-fluid p-4">
            <div class="row">
                {{range .Files }}
                    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
                        <div class="card {{if .Match }} bg-warning {{ end }} text-center mt-2 p-1">
                            <a style="color:white" href="/{{ .PathShortEscaped }}">{{ .PathShort }}({{ .Len }})</a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>


        <div class="container-fluid p-4">
            {{ range .Automations }}
                {{ $automation := . }}
                {{ if not .Hidden }} 
                    <div class="card mb-4" style="border:1px black solid">
                        <div class="card-header bg-dark p-2 border-2 {{if or (.Triggered) (.Triggered_Time | range2s) }} border-success {{else}} border-danger {{ end }}" style="border-radius:0;">
                            <span class="badge {{if .Triggered_Time | range2s }} bg-warning {{ else }} bg-info {{ end }}">{{.Triggered_Time | diff }}</span>
                            <span class="badge bg-info" >{{.Mode}}</span>
                            {{ if .Retrigger  }}     <span class="badge bg-success">Retrigger</span> {{ end }}
                            {{ if .RTTduration  }}   <span class="badge bg-success">RTT: {{ .RTTduration }}</span> {{ end }}
                            <span style="font-size:11pt !important">{{.Name}}</span>
                            <span style="float:right" class="text-muted">[ID:{{ .Id }}] {{ .Path }}</span>
                            <table class="table text-left border-none table-borderless m-0 mt-2">
                                <tr>
                                    <td>Triggered <span class="badge bg-info">{{ .Triggered_Time | diff }}</span></td>
                                    <td>Pause</td>
                                    <td>Reminder</td>
                                    <td>Delay</td>
                                    <td>Value <span class="badge bg-info">{{ .Value_Time | diff }}</span></td>
                                </tr>
                                <tr>
                                    <td class="{{ if .Triggered_Time | range2s }} bg-warning {{ end }}" >{{ .Triggered }}</td>
                                    <td class="{{ if . | automationInPause }} bg-warning {{ end }}" >{{ .Pause }}</td>
                                    <td class="{{ if .Reminder_Active }} bg-warning {{ end }}" >{{ .Reminder }}</td>
                                    <td class="{{ if .Delay_Active }} bg-warning {{ end }}" > {{ .Delay }}</td>
                                    <td class="{{ if .Value_Time | range2s }} bg-warning {{ end }}" >{{ getTypedValue .Value }}</td>
                                </tr>
                            </table>
                        </div>

                        <!-- constraint/cron -->
                        {{ $rules := getByAutomationId "constraint/cron" .Id }}
                        {{ if $rules }}
                            <div class="card-body bg-secondary p-2">
                                <table class="table bg-dark table-border-show m-0 mt-1">
                                    <tr>
                                        <td><b>CRON Constraints</b> - NextTime</td>
                                        <td>Reset</td>
                                        <td>Triggered</td>
                                        <td>Options</td>
                                    </tr>
                                    {{ range $rules }}
                                        <tr class="{{if or (.Triggered) (.Triggered_Time | range2s) }} bg-success {{ end }}" >
                                            <td>{{ .Module.NextTime}}</td>
                                            <td>{{ .Module.Reset}}</td>
                                            <td class="{{if .Triggered_Time | range2s }} bg-warning {{ end }}">{{.Triggered}} <span class="badge bg-info">{{.Triggered_Time | diff}}</span></td>
                                            <td>
                                                {{ if .Module.NoTrigger  }} <span class="badge bg-warning">NoTrigger</span> {{end}}
                                            </td>
                                        </tr>
                                    {{ end }}
                                </table>
                            </div>
                        {{ end }}


                        <!-- constraint/mqtt -->
                        {{ $rules := getByAutomationId "constraint/mqtt" .Id }}
                        {{ if $rules }}
                            <div class="card-body bg-secondary p-2">
                                <table class="table bg-dark table-border-show m-0 mt-1">
                                    <tr>
                                        <td><b>MQTT Constraints</b> - Topic</td>
                                        <td>Object</td>
                                        <td>Comparator</td>
                                        <td>Value</td>
                                        <td>Reset</td>
                                        <td>Timeout</td>
                                        <td>Triggered</td>
                                        <td>Value</td>
                                        <td>Options</td>
                                    </tr>
                                    {{ range $rules }}
                                        <tr class="{{if or (.Triggered) (.Triggered_Time | range2s) }} bg-success {{ end }}" >
                                            <td>{{.Module.Topic}}</td>
                                            <td>{{.Module.Object}}</td>
                                            <td>{{.Module.Comparator}}</td>
                                            <td>{{ getTypedValue .Module.Value}}</td>
                                            <td>{{.Module.Reset}}</td>
                                            <td>{{.Module.Timeout}}</td>
                                            <td class="{{if .Triggered_Time | range2s }}  bg-warning {{ end }}" >{{.Triggered}} <span class="badge bg-info">{{.Triggered_Time | diff }}</span></td>
                                            <td class="{{if .Value_Time | range2s }} bg-warning {{ end }}" >{{ getTypedValue .Value }} <span class="badge bg-info">{{.Value_Time | diff }}</span></td>
                                            <td>
                                                {{ if .Module.Retained  }} <span class="badge bg-warning">BlockRetained</span> {{end}}
                                                {{ if .Module.NoTrigger  }} <span class="badge bg-warning">NoTrigger</span> {{end}}
                                                {{ if .Module.NoValue  }} <span class="badge bg-warning">NoValue</span> {{end}}
                                            </td>
                                        </tr>
                                    {{ end }}
                                </table>
                            </div>
                        {{ end }}


                        <!-- action/http -->
                        {{ $rules := getByAutomationId "action/http" .Id }}
                        {{ if $rules }}
                            <div class="card-body bg-secondary p-2">
                                <table class="table bg-dark table-border-show m-0 mt-1">
                                    <tr>
                                        <td><b>HTTP Actions</b> - URL</td>
                                        <td>Options</td>
                                    </tr>
                                    {{ range $rules }}
                                        <tr class="{{if or (.Triggered) (.Triggered_Time | range2s) }} bg-success {{ end }}" >
                                            <tr class="{{if or (.Triggered) (.Triggered_Time | range2s ) }} bg-success {{ end }}" >
                                                <td>{{.Http}}</td>
                                                <td>
                                                    {{ if .Module.Reverse  }} <span class="badge bg-warning">Reverse</span> {{end}}
                                                </td>
                                            </tr>
                                        </tr>
                                    {{ end }}
                                </table>
                            </div>
                        {{ end }}

                        <!-- action/mqtt -->
                        {{ $rules := getByAutomationId "action/mqtt" .Id }}
                        {{ if $rules }}
                            <div class="card-body bg-secondary p-2">
                                <table class="table bg-dark table-border-show m-0 mt-1">
                                    <tr>
                                        <td><b>MQTT Actions</b> - Topic</td>
                                        <td>Object</td>
                                        <td>Value</td>
                                        <td>Options</td>
                                    </tr>
                                    {{ range $rules }}
                                        <tr class="{{if or (.Triggered) (.Triggered_Time | range2s) }} bg-success {{ end }}" >
                                            <td>{{ .Module.Topic }}</td>
                                            <td>{{ .Module.Object }}</td>
                                            <td>{{ getTypedValue .Module.Value }}</td>
                                            <td>
                                                {{ if .Module.Retained  }} <span class="badge bg-warning">Retained</span> {{end}}
                                                {{ if .Module.Reverse  }} <span class="badge bg-warning">Reverse</span> {{end}}
                                            </td>
                                        </tr>
                                    {{ end }}
                                </table>
                            </div>
                        {{ end }}
                            
                    </div>
                {{ end }}
            {{ end }}
        </div>
        
            
                        